<tr>
  <td class="text-center"><%= link.base_name %></td>
  <td class="text-center"><%= link.inventory_name %></td>
  <td class="text-center"><%= link.quantity %></td>
  <td class="text-center"><%= link.inventory_unit %></td>
  <td class="text-center">September 12, 2017 6:40 am</td>
</tr>
